.topnav{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  background-color: white;
  text-align: center;
  text-decoration-color: black;
  color: white; /* Why can't I change the colour of the font in the navigation bar*/
}
#title {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    text-align: center;

}
.Heading {
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px ;
    text-align:center;
}
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color:green;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  .content-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    text-align: center;
    color: black;
  }


  .logo {background-image: url(./Logo.jpg);

  }

  .Centre {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  body{
    background: white;
    color: chartreuse;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  } 
  
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  border-width: 10px;
  border-color: black;
  font-size: 30px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition-duration: 0.4s;}

button:hover {
      background-color: #4CAF50; /* Green */
      color: white;
}